ENV NEXT_PUBLIC_SERVER_URL=http://localhost:8080
ENV NEXT_PUBLIC_APP_CODE='Core'
ENV NEXT_PUBLIC_MODULE_CODE='Core'
ENV NEXT_PUBLIC_DOMAIN_URL='.smretailinc.intranet' 
ENV NEXT_PUBLIC_ICONIFY_URL=https://cs-iconify.smretailinc.com