NEXT_PUBLIC_SERVER_URL=http://localhost:8080
NEXT_PUBLIC_APP_CODE='Core'
NEXT_PUBLIC_MODULE_CODE='Core'
NEXT_PUBLIC_DOMAIN_URL='.smretailinc.intranet' 
NEXT_PUBLIC_ICONIFY_URL=https://cs-iconify.smretailinc.com